dubbo-consumer/src/main/resources/META-INF/Spring-dubbo.xsd

<?xml version="1.0" encoding="UTF-8"?>

<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.lexueba.com/schema/dubbo"
        xmlns:tns="http://www.lexueba.com/schema/dubbo"
        elementFormDefault="qualified"

>

    <element name="dubbo">
        <complexType>
            <attribute name="id" type="string"></attribute>
            <attribute name="name" type="string"></attribute>
            <attribute name="address" type="string"></attribute>
            <attribute name="protocol" type="string"></attribute>
            <attribute name="port" type="string"></attribute>
            <attribute name="basePackage" type="string"></attribute>
            <attribute name="timeout" type="string"></attribute>
        </complexType>

    </element>
</schema>
